<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom" *ngIf="!hideTabs">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-img src="assets/mercearia/home 1.png"></ion-img>
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pesquisa" href="/tabs/pesquisa">
      <ion-img src="assets/mercearia/search 1.png"></ion-img>
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="carrinho" href="/tabs/carrinho">
      <ion-img src="assets/mercearia/file-text 1.png"></ion-img>
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="compras" href="/tabs/compras">
      <ion-img src="assets/mercearia/shopping-bag 1.png"></ion-img>
      <ion-label></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
