ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0;
  }
  
  .container {
    text-align: center; /* Centraliza horizontalmente o conteúdo dentro da div */
    padding: 20px; /* Adicione espaçamento interno conforme necessário */
  }
  
  .imagem {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; /* Espaçamento inferior para separar a imagem do texto */
  }
  
  .texto {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 48px; /* Aumenta o tamanho do texto para 24px */
    font-weight: bold; /* Deixa o texto em negrito */
    color: #000;
    margin-top: 10px;
  }
  
  .texto1 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px; /* Aumenta o tamanho do texto para 24px */
    color: #000;
    margin-top: 10px;
  }
  