<ion-content>
  <div class="container">
    <img src="assets/mercearia/sacola de compras.png" alt="Descrição da Imagem" class="imagem">
    <p class="texto">Entregamos mantimentos à sua porta</p>
    <p class="texto1">A mercearia oferece vegetais e frutas frescas. Encomende itens frescos na mercearia.</p>
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="navegarParaCompras()">
    <img src="assets/mercearia/btniniciar.png" alt="Botão">
  </ion-fab>
</ion-content>





